body, h1, h2, h3, h4, a, p, textarea {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}


* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}


textarea {
	min-height: 50px;
	resize: none;
	background-color: white;
	width: 250px;
	outline: none;
}

@media screen and (min-width: 320px) {
	.container h1 {
		font-size: 26px;
	}

	.panel-item__img {
		height: 230px;
	}

	.modal__body {
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media screen and (min-width: 375px) {
	.container h1 {
		font-size: 30px;
	}

	.panel-item__img {
		height: 250px;
	}	
}

@media screen and (min-width: 425px) {
	.container h1 {
		font-size: 35px;
	}

	.panel-item__img {
		height: 270px;
	}	
}

@media screen and (min-width: 768px) {
	.container h1 {
		font-size: 60px;
	}

	.panel-item__img {
		height: 300px;
	}	
	
}

@media screen and (min-width: 1024px) {
	.container h1 {
		font-size: 80px;
	}

	.panel-item__img {
		height: 350px;
	}	
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.panel-item  {
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 20px;
	transition: .3s;
}

.container h1 {
	padding-bottom: 50px;
	font-weight: 500;
}

.panel-item__img {
	transition: .3s;
}

.panel-item__p {
	padding-top: 20px;
	font-size: 22px;
	transition: .3s;
}

.panel-item:hover {
	transform: scale(1.1);
	border-color: #d73232; 
}

.panel-item:hover .panel-item__p {
	color: #d73232;
}

.panel-item:hover .panel-item__img {
	fill: #d73232;
}

.modal,
.modal__bg {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal,
.modal__bg,
.modal__body {
	transition: .3s ease-out;
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	z-index: 99;
}

.modal__bg {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10000
}

.modal__body {
	height: auto;
	padding-bottom: 10px;
	z-index: 10001;
	background-color: white;
	padding: 20px;
}

.card__headline {
	color: black;
	font-weight: 900;
	font-size: 20px;
}

.card__form {
	margin-top: 10px;
}

.card__form input {
	outline: none;
	margin-top: 5px;
	width: 250px;
}

.card__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100px;
	border: grey 1px solid;
	cursor: pointer;
	transition: .3s;
	margin-top: 20px;
}

.card__img {
	height: 30px;
	transition: .3s;
}

.card__btn:hover {
	border-color: green;
}

.card__btn:hover .card__img {
	fill: green;
}



.goal__body {
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}


.goal-container {
	height: calc(100vh - 240px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.goal__header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.goal__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.goal__elem {
	width: 130px;
}

.path-container {
	display: flex;
	justify-content: center;
}

.goal__path {
	position: relative;
	width: 200px;
	border-bottom: 2px dashed black;
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.goal__path:hover {
	border-color: green;
}

.goal__header img {
	height: 130px;
}

.goal__info img {
	height: 80px;
	margin-top: 20px;
}

.goal__header h1 {
	margin-top: 20px;
}

.goal__param {
	color: gray;
}

.goal__action {
	position: absolute;
	top: -19px;
	height: auto;
	width: 25px;
}

.goal__action__checked {
	position: absolute;
	top: -19px;
	height: auto;
	width: 25px;
}

.goal__action__img {
	height: 25px;
	width: 25px;
	z-index: 101;
	transition: .3s;
}

.checkpoint__action__checked__img {
	height: 25px;
	width: 25px;
	z-index: 100;
	transition: .3s;
}

.goal__action__img:hover {
	fill: purple;
}

.checkpoint__icon-checked:hover {
	fill: grey;
}

.checkpoint__icon-checked {

}

.checkpoint__container {
    position: absolute;
    top: -18px;
    z-index: 5;
}

.checkpoint__info {
    position: absolute;
    bottom: 100px;
  	width: 300px;
    min-height: 350px;
    background-color: #E6E6E6;
    transform: translateX(calc(-50% + 7px));
    transition: .3s ease-out;
	opacity: 0;
	visibility: hidden;
}

.checkpoint__info.-isOpened {
	display: block;
}

.checkpoint__container.-isActive .checkpoint__info {
	opacity: 1;
	visibility: visible;
}

.checkpoint__info:before {
	position: absolute;
	display: block;
	content: '';

	bottom: -30px;
	left: 50%;

	width: 45px;
	height: 45px;
	background-color: #E6E6E6;
	transform: rotate(45deg)  translateX(-50%);
}

.info-elem {
	margin-top: 10px;
	margin-left: 10px;
	width: 280px;
}

.info-elem p {
	font-size: 18px;
	font-weight: 500;
}

.info__done {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.info__icon-done {
	margin-left: 10px;
	height: 35px;
}

.info__icon-done:hover {
	fill: green;	
}

.info__icon-done {
	fill: black;
}

.info__icon-done.-isDone,
.checkpoint__action__checked__img.-isDone {
	fill: green;
}

.congratulations__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.congratulations__container img {
	height: 175px;
    margin-top: 30px;
}