body, h1, h2, h3, h4, a, p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	justify-content: center;
	align-items: center;
}

.panel-item  {
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 20px;
	transition: .3s;
}

.container h1 {
	font-size: 100px;
	padding-bottom: 50px;
}

.panel-item__img {
	height: 300px;
	transition: .3s;
}

.panel-item__p {
	padding-top: 20px;
	font-size: 20px;
	transition: .3s;
}

.panel-item:hover {
	transform: scale(1.1);
	border-color: #d73232; 
}

.panel-item:hover .panel-item__p {
	color: #d73232;
}

.panel-item:hover .panel-item__img {
	fill: #d73232;
}

.modal,
.modal__bg {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal,
.modal__bg,
.modal__body {
	transition: .3s ease-out;
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.modal__bg {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal__body {
	z-index: 2;
	background-color: white;
	padding: 20px;
	height: 300px;
}

.card__headline {
	color: black;
	font-weight: 900;
	font-size: 20px;
}

.card__form {
	margin-top: 10px;
}

.card__form input {
	outline: none;
	margin-top: 5px;
	width: 250px;
}

.card__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100px;
	border: grey 1px solid;
	cursor: pointer;
	transition: .3s;
	margin-top: 20px;
}

.card__img {
	height: 30px;
	transition: .3s;
}

.card__btn:hover {
	border-color: green;
}

.card__btn:hover .card__img {
	fill: green;
}